.dm-uploader {
	text-align: center;
}
.dm-uploader.active {
	border-color: red;

	border-style: solid;
}

#files {
    overflow-y: scroll !important;
    min-height: 320px;
}
@media (min-width: 768px) {
	#files {
		min-height: 0;
	}
}